LOG_EMAIL=st6546@srmist.edu.in
LOG_NAME=SARVESH RAAM T K
LOG_ROLL_NO=RA2311047010177
LOG_ACCESS_CODE=QkbpxH
LOG_CLIENT_ID=paste_your_client_id_here
LOG_CLIENT_SECRET=paste_your_client_secret_here
BEARER_TOKEN=paste_your_bearer_token_here
PORT=3001
